.navbar{
    background-color: rgb(118, 10, 249);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.buttons{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
