.home-container {
  min-height: 100vh;
  background:  linear-gradient(135deg, #626ded 0%, #ffffff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
   animation: fadeIn 0.8s ease-in-out;
}


.home-hero {
  background: white;
  padding: 60px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.home-hero h1 {
  font-size: 2.5rem;
  color: #4f46e5;
  margin-bottom: 15px;
}

.home-hero p {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 25px;
}

.home-btn {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.home-btn:hover {
  background: #3730a3;
  transform: scale(1.05);
}

.home-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.feature-card {
  background: white;
  width: 280px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.feature-card h3 {
  color: #4f46e5;
  margin-bottom: 10px;
}

.feature-card p {
  color: #555;
  font-size: 0.95rem;
}
