
   *{
  background-color:  linear-gradient(135deg, #626ded 0%, #ffffff 100%);
   }

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
  
  background-color:  linear-gradient(135deg, #626ded 0%, #ffffff 100%);
  font-family: "Poppins", sans-serif;
}

.register-box {
  background: #ffffff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 100%;
 margin-top: 50px;
  text-align: center;
  animation: slideUp 0.4s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register-box h2 {
  color: #1e293b;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

/* Inputs */
.register-box input[type="text"],
.register-box input[type="email"],
.register-box input[type="password"] {
 width: 280px;
  padding: 10px 14px;
  margin: 5px 0 0 ;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  transition: all 0.3s ease;
  outline: none;
  
}

.register-box input:focus {
  border-color: #7c3aed;
  box-shadow: 0 0 6px rgba(124, 58, 237, 0.3);
}

/* Checkbox */
.register-box label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #334155;
  margin-top: 10px;
}

.register-box input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #7c3aed; /* Purple tick */
}

/* Button */
.register-box button {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  background: #7c3aed;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  
}

.register-box button:hover {
  background: #6d28d9;
  transform: scale(1.02);
}

/* Message */
.register-message {
  margin-top: 15px;
  color: #ef4444;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 480px) {
  .register-box {
    padding: 2rem 1.5rem;
  }
}
